@{
    Layout="Shared/_Layout.cshtml";
}

<h1>You created a contact!<h1>
<div class="contact-div well">
    <h1>@Model.GetName()</h1>
    <p>@Model.GetAddress().GetStreetAddress()</p>
    <p>@Model.GetAddress().GetCity(), @Model.GetAddress().GetState()</p>
    <ul>
        <li>Phone: @Model.GetPhoneNumber()</li>
        <li>Email: @Model.GetEmail()</li>
    </ul>
</div>

<a href="/add"><button class="btn btn-success">Create Another Contact</button></a>
<a href="/"><button class="btn btn-primary">Go to List</button></a>
